<ion-header>
  <ion-toolbar color="dark">
    <ion-title>music</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="home()">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let track of playlist" (click)="start(track)">
      <ion-label [color]="track == activeTrack ? 'success': 'light' ">
        {{track.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="activeTrack">
  <ion-toolbar color="dark">
    <ion-row class="center">
      <ion-col size="12" class="ion-text-center">
        {{activeTrack.name}}
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        {{runningTimeMinute}}:{{runningTimeSecond<10? '0':''}}{{runningTimeSecond}}
      </ion-col>
      <ion-col size="8">
        <ion-range
          #range
          [(ngModel)]="progress"
          max="100"
          color="success"
          (touchend)="seek()"
          (mouseup)="seek()"
        ></ion-range>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        {{totalDurationMinute}}:{{totalDurationSecond}}
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear" (click)="prev()" color="light">
          <ion-icon slot="icon-only" name="play-skip-back"></ion-icon>
        </ion-button>

        <ion-button
          fill="clear"
          (click)="togglePlayer(false)"
          *ngIf="!isplaying"
          color="light"
        >
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>

        <ion-button
          fill="clear"
          (click)="togglePlayer(true)"
          *ngIf="isplaying"
          color="light"
        >
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="next()" color="light">
          <ion-icon slot="icon-only" name="play-skip-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
