<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-tab-button (click)="music()" >
        <ion-icon name="musical-notes"></ion-icon>
        <ion-label>Music Player</ion-label>
      </ion-tab-button>
    </ion-col>
    <ion-col>
      <ion-tab-button (click)="login()" >
        <ion-icon name="chatbubbles-sharp"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-segment value="bookmarks" scrollable>        
  <ion-segment-button value="bookmarks">
    <ion-label  class="ion-text-wrap">GIFT CREDITS</ion-label>
  </ion-segment-button>
  <ion-segment-button>
    <ion-label  class="ion-text-wrap">TOPUP CREDITS</ion-label>
  </ion-segment-button>
  <ion-segment-button>
    <ion-label  class="ion-text-wrap">SPEND CREDITS</ion-label>
  </ion-segment-button>
  <ion-segment-button>
    <ion-label  class="ion-text-wrap">ACTIVITY LOG</ion-label>
  </ion-segment-button>
               
</ion-segment>

<ion-button (click)="presentModal()">Modal</ion-button>



</ion-content>

