<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-tab-button (click)="music()" >
        <ion-icon name="musical-notes"></ion-icon>
        <ion-label>Music Player</ion-label>
      </ion-tab-button>
    </ion-col>
    <ion-col>
      <ion-tab-button (click)="login()" >
        <ion-icon name="chatbubbles-sharp"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
